mixin panel-big(panel)
    .panel-big
        .panel-big__icon иконка
        .panel-big__info
            .panel-big__title= panel.title
            if panel.text
                .panel-big__text= panel.text