include ./../../components/section-title/section-title.pug
include ./../../components/panel/panel.pug
include ./../../components/filter/filter.pug

mixin devices
    -
        let dPanels = [
            { title: 'Xiaomi Yeelight LED Smart Bulb', text: 'Включено', icon: 'icon_sun_2' }, 
            { title: 'D-Link Omna 180 Cam', text: 'Включится в 17:00', icon: 'icon_sun' },
            { title: 'Elgato Eve Degree Connected', text: 'Выключено до 17:00', icon: 'icon_temperature' },
            { title: 'LIFX Mini Day & Dusk A60 E27', text: 'Включится в 17:00', icon: 'icon_sun' },
            { title: 'Xiaomi Mi Air Purifier 2S', text: 'Включено', icon: 'icon_sun_2' },
            { title: 'Philips Zhirui', text: 'Выключено', icon: 'icon_sun' },
            { title: 'Xiaomi Mi Air Purifier 2S', text: 'Включено', icon: 'icon_sun_2' }
        ];
        let filterItems = [ 'Все', 'Кухня', 'Зал', 'Лампочки', 'Камеры']
    .devices
        .devices-title
            +section-title("Избранные устройства")
            +filter(filterItems)
        .devices-block
            .devices-list
                each dPanel in dPanels
                    +panel(dPanel, true)