.devices {
    grid-area: devices;
    margin-top: 30px;
    padding-left: 40px;
    @media screen and (max-width: 1024px) {
        padding-left: 20px;
        margin-top: 24px;
    }
    &-block {
        display: grid;
    }
    &-title {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;
        grid-column-gap: 13px;
    }
    &-list {
        margin-top: 20px;
        padding-bottom: 6px;
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 15px;
        @media screen and (max-width: 1024px) {
            margin-top: 17px;
        }
    }
}