mixin filter
    ul.filter
        li.filter__item.filter__item--active
            a.filter__link(href="#") Все
        li.filter__item
            a.filter__link(href="#") Кухня
        li.filter__item
            a.filter__link(href="#") Зал
        li.filter__item
            a.filter__link(href="#") Лампочки
        li.filter__item
            a.filter__link(href="#") Камеры
