.panel {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: #F7F7F7;
    display: grid;
    padding: 15px;
    align-content: space-between;
    &__title {
        font-family: Arial-BoldMT;
        font-size: 14px;
        margin-bottom: 4px;
    }
    &__text {
        font-size: 12px;
        color: #858585;
    }
}