mixin panel(panel, isBig)
    .panel(class={"panel--big": isBig})
        .panel__icon иконка
        .panel__info
            .panel__title= panel.title
            if panel.text
                .panel__text= panel.text