include ./../icon/icon.pug

mixin panel(panel, isBig)
    .panel(class={"panel--big": isBig})
        .panel__icon
            if panel.icon
                +icon(panel.icon, 'default')
        .panel__info
            .panel__title= panel.title
            if panel.text
                .panel__text= panel.text