//- Todo: поменять лого на svg
mixin header
    .header
        .header__logo 
            a(href="#")
                img.head-logo__image(src="images/logo2x.png")
        ul.header__menu.head-menu
            li.head-menu__item.head-menu__item--active
                a.head-menu__link(href="#") Сводка
            li.head-menu__item
                a.head-menu__link(href="#") Устройства
            li.head-menu__item
                a.head-menu__link(href="#") Сценарии
        