include ./../content/components/icon/icon.pug

mixin header
    .header
        .header__logo 
            a(href="#")
                +icon('logo-home', 'logo')
        .header__menu.head-menu
            .head-menu--list
                li.head-menu__item.head-menu__item--active
                    a.head-menu__link(href="#") Сводка
                li.head-menu__item
                    a.head-menu__link(href="#") Устройства
                li.head-menu__item
                    a.head-menu__link(href="#") Сценарии
            .head-menu--icon
                +icon('icon_list_m@1x', 'nav')
        