.header {
    display: grid;
    height: 100%;
    border-bottom: 1px solid #F0F0F0;
    padding: 0 36px 0 40px;
    grid-template-columns: 108px auto;
    grid-gap: 52px;
    align-items: center;
    @media screen and (max-width: 1024px) {
        border-bottom: none;
        padding: 0 20px;
        grid-gap: 0;
    }
}

.head-menu {
    margin: 0;
    padding: 0;
    @media screen and (max-width: 1024px) {
        justify-self: end;
    }
    &--list {
        @media screen and (max-width: 1024px) {
            display: none;
        }   
    }
    &--icon {
        .icon--nav {
            width: 16px;
            height: 14px;
        }
    }
    
    &__item {
        display: inline-block;
        margin-right: 28px;
        opacity: 0.6;
        font-family: Arial-BoldMT;
        font-size: 16px;
        line-height: 20px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            opacity: 1;
        }
        &--active {
            opacity: 1;
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
    }
}

.icon--logo {
    width: 111px;
    height: 38px;
}
