.main {
    grid-area: main;
    margin-top: 30px;
    padding-left: 40px;
    &-block {
        margin-top: 20px;
        height: 330px;
        border-radius: 22px;
        background-color: #ece8e4;
        background-image: url('images/bg@2x.png');
        background-size: cover;
        padding: 20px 20px 0 25px;
        display: grid;
        grid-auto-flow: column;
    }
}

.welcome {
    &__title {
        font-family: Arial-BoldMT;
        font-size: 27px;
        margin: 6px 0;
    }
    &__text {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 25px;
    }
}

.weather {
    &__item {
        display: inline-block;
        margin-right: 18px;
    }
    &__label {
        font-size: 14px;
        color: #858585;
        margin-bottom: 4px;
    }
    &__info {
        font-family: Arial-BoldMT;
        font-size: 36px;
    }
    // &__icon {
    //     display: inline;
    // }
}

.oncoming {
    justify-self: end;
    overflow: auto;
    &-inner {
        display: grid;
        grid-row-gap: 15px;
    }
}