include ./../../components/section-title/section-title.pug
include ./../../components/panel-big/panel-big.pug

mixin main
    .main
        .main-title
            +section-title("Главное")
        .main-block
            .welcome
                h1.welcome__title Привет, Геннадий!
                p.welcome__text
                    | Двери и окна закрыты, сигнализация включена.
                .weather
                    .weather__item
                        .weather__label Дома
                        .weather__info +23
                    .weather__item
                        .weather__label За окном
                        .weather__info +19
                        //- .weather-item__icon
            .oncoming
                .oncoming-inner
                    +panel-big




    