.main {
    grid-area: main;
    margin-top: 30px;
    padding-left: 40px;
    @media screen and (max-width: 1024px) {
        margin-top: 0;
        padding: 0 20px;
    }
    &-block {
        margin-top: 20px;
        height: 330px;
        border-radius: 22px;
        background-color: #ece8e4;
        background-image: url('images/bg@2x.png');
        background-size: cover;
        padding: 20px 20px 0 25px;
        display: grid;
        grid-auto-flow: column;
        @media screen and (max-width: 1024px) {
            align-content: start;
            margin-top: 0;
            height: 282px;
            padding: 20px 20px 0 20px;
            grid-auto-flow: row;
            grid-row-gap: 20px
        }
    }
    &-title {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}

.welcome {
    &__title {
        font-family: Arial-BoldMT;
        font-size: 27px;
        margin: 6px 0;
        @media screen and (max-width: 1024px) {
            font-size: 18px;
            margin: 0 0 5px;
        }
    }
    &__text {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 25px;
        @media screen and (max-width: 1024px) {
            font-size: 12px;
            margin-bottom: 15px;
        }
    }
}

.weather {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    &__item {
        display: inline-block;
        margin-right: 13px;
    }
    &__label {
        font-size: 14px;
        color: #858585;
        margin-bottom: 5px;
        @media screen and (max-width: 1024px) {
            font-size: 12px;
        }
    }
    &__info {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        font-family: Arial-BoldMT;
        font-size: 36px;
        @media screen and (max-width: 1024px) {
            font-size: 24px;
        }
    }
    &__icon {
        display: inline-block;
        vertical-align: middle;
    }
    .icon--weather {
        height: 26px;
        width: 26px;
        @media screen and (max-width: 1024px) {
            height: 17px;
            width: 17px;
        }
    }
}

.oncoming {
    display: grid;
    justify-self: end;
    overflow: auto;
    @media screen and (max-width: 1024px) {
        justify-self: start;
    }

    &-inner {
        display: grid;
        grid-row-gap: 15px;
        @media screen and (max-width: 1024px) {
            overflow-x: auto;
            grid-column-gap: 20px;
            grid-auto-flow: column;
        }
        
    }
}