include ./../../components/section-title/section-title.pug
include ./../../components/panel/panel.pug

mixin main
    -
        let mPanels = [
            { title: 'Philips Cooler', text: 'Начнет охлаждать в 16:30' }, 
            { title: 'Xiaomi Yeelight LED Smart Bulb', text: 'Включится в 17:00' },
            { title: 'Xiaomi Yeelight LED Smart Bulb', text: 'Включится в 17:00' }
        ];

    .main
        .main-title
            +section-title("Главное")
        .main-block
            .welcome
                h1.welcome__title Привет, Геннадий!
                p.welcome__text
                    | Двери и окна закрыты, сигнализация включена.
                .weather
                    .weather__item
                        .weather__label Дома
                        .weather__info +23
                    .weather__item
                        .weather__label За окном
                        .weather__info +19
                        //- .weather__icon иконка
            .oncoming
                .oncoming-inner
                    each mPanel in mPanels
                        +panel(mPanel, true)




    