extends layout.pug

include ./header/header.pug
include ./content/content.pug
include ./footer/footer.pug

block title
    title Yandex Task 2

block content
    .container
        +header
        +content
        +footer