extends layout.pug

include ./header/header.pug
include ./content/content.pug
include ./footer/footer.pug

//- Todo Добавить фавиконку

block title
    title Яндекс Дом

block content
    .container
        +header
        +content
        +footer