mixin footer
    .footer
        ul.footer__menu.foot-menu
            li.foot-menu__item
                a.foot-menu__link(href="#") Помощь
            li.foot-menu__item 
                a.foot-menu__link(href="#") Обратная связь
            li.foot-menu__item 
                a.foot-menu__link(href="#") Разработчикам
            li.foot-menu__item
                a.foot-menu__link(href="#") Условия использования
        .footer__copyright
            p.copyright © 2001–2017  ООО «Яндекс»