.scripts {
    grid-area: scripts;
    margin: 30px 40px 0 26px;
    &-block {
        margin-top: 20px;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}